/*@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 */
 @import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Domine", sans-serif;
 }

 :root{
    /*#a78d78
    9c6644
    6e473b secondary color
    
    e1d4c2 primary key t3 9bl
    54362b secondary key t3 9bl
    */
    --primary-color:#fcf5ed;
    --secondry-color:#78553f;
    /*ad7948*/
 }
/*for whole website*/
ul{
    list-style: none;
  }

a{
    text-decoration: none;  
  }
 
  button{
    cursor: pointer;
    border:none;
    background: none;
  }


body{
background-color: var(--primary-color);
}
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    height: 100%;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
 .logo-img{
    width: 50px;
    height: auto;
    left: 10px;
    margin-left: 20px;
}
 header .navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 10;
 }


 .navbar .nav-logo .logo-text{
    color: black;
    font-size: 110%;
    font-weight: bold;

 }

 .navbar .nav-menu {
    display: flex;           
    gap: 50px;               
    align-items: center; 
    margin-right: 30px;    
}
 
.nav-link{
position: relative;
text-decoration: none;
font-weight: 700;
padding-bottom: 5px;
color: black;
 }
.nav-link::after{
content: '';
position: absolute;
left: 0;
bottom: 0;
width: 0;
height: 2px;
background-color: black;
}
.nav-link:hover::after{
    width: 100%;
}

.about-us{
    text-align: center;
    padding: 50px 20px;
}


.about-us .header h2{
    font-size: 36px;
    margin-bottom: 10px;
    color: var(--secondry-color);
    margin-top: 30px;
}


.about-us .header p{
    font-size: 20px;
    color: var(--secondry-color);
    margin-top: 30px;
}

.about-us .photos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 0;
    
}

.about-us .photos img{
    width: 200px;
    height: auto;
    border-radius: 12px;
    margin-right: 30px;
    margin-top: 80px;
}

.mission{
    margin: 40px 0;
    color: var(--secondry-color);
    margin-top: 100px;
}


.mission h3{
    font-size: 30px;
    
    
}

.mission p{
  font-size: 20px; 
  margin-top: 20px; 
}
.value{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    margin-top: 50px;
}

.value img{
    width: 300px;
    height: auto;
    border-radius: 12px;
    margin-left: 350px;
    margin-top: 80px;
}

.value .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.value h4{
    font-size: 30px;
    color: var(--secondry-color);
    margin: 0 0 10px 0;
    margin-top: 70px;
    margin-left: -400px;
    margin-bottom: 30px;
    
}

.value p{
   font-size: 20px; 
   text-align: justify;
   margin: 0;
   padding: 0;
   text-indent: 0;
   color: var(--secondry-color);
   margin-right: 330px;
}


.navbar .nav-profile-img {
    width: 35px;        
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
}

.navbar .nav-item a {
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}


